[Unit]
Description=System event daemon
PartOf=pulseaudio.service pipewire-pulse.service
After=pulseaudio.service pulseaudio.socket pipewire-pulse.socket pipewire-pulse.service

[Service]
ExecStart=%h/dev/pyenv/shims/syseventd
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=graphical-session.target
